.test {
  background-color: black;
  .my {
    cursor: pointer;
  }
  a {
    font-size: 40px;
  }
}


.app {
  .brand {
    cursor: pointer;
    & > span::before {
      position: absolute;
      background: #2d2d2d url('../Home/logo.png') no-repeat center center;
      $size: 40px;
      width: $size;
      border-radius: $size / 2;
    }
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}

:global(.form-control-feedback) {
  text-align: inherit;
}
